/* global.css */

.div-stacked-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.div-stacked-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

label {
    font-size: 14px;
    color: red;
    font-weight: normal;
    margin-bottom: 5px;
}

body {
    background-color: teal;
}